.login-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.login-wrapper {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border: 5px solid hsl(177, 100%, 50%);
}

.login-container {
    flex: 1;
    padding: 40px;
}

.login-background {
    flex: 1;
    width: 400px;
    background-image: url('C:\Users\DELL\Documents\ReactJs_Practice\Task-1\myreactapp\src\components\login-img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px 0 0 8px;
    color:white;
    text-align: center;
    border-right: 5px solid hsl(177, 100%, 50%);
}

.login-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-login {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #0056b3;
}

.form-group a {
    color: #007bff;
    text-decoration: none;
}

.form-group a:hover {
    text-decoration: underline;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.login-page{
    background-image:url('C:\Users\DELL\Documents\ReactJs_Practice\Graspear_Internship\myreactapp\src\components\image.png');
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0;
    background-size: 100% 130%;
}

