.user-details-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-image: url('C:/Users/DELL/Documents/ReactJs_Practice/Graspear_Internship/myreactapp/src/components/image.png');
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.user-details-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border: 5px solid hsl(177, 100%, 50%);
}
.wrapper2 {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 70%;
    background-image:url('C:\Users\DELL\Documents\ReactJs_Practice\Graspear_Internship\myreactapp\src\components\toDo-img.jpg');
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border: 5px solid hsl(177, 100%, 50%);
}
.user-details-container {
    flex: 1;
    padding: 40px;
}
.container2 {
    flex: 1;
    padding: 40px;
}

.user-details-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: bold;
    background-color: #f2f2f2;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: #ff0000;
}

@media (max-width: 768px) {
    .user-details-wrapper {
        flex-direction: column;
        height: auto;
    }
}
