.admin-dashboard-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-image: url('C:\Users\DELL\Documents\ReactJs_Practice\Graspear_Internship\myreactapp\src\components\image.png');
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 0;
    background-size: 100% 120%;
}

.admin-dashboard-wrapper {
    display: flex;
    width: 100%;
    max-width: 950px;
    height: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border: 5px solid hsl(177, 100%, 50%);
}

.admin-dashboard-container {
    flex: 1;
    padding: 40px;
}

.admin-dashboard-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.admin-header p {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.users-list-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-image: url('C:\Users\DELL\Documents\ReactJs_Practice\Graspear_Internship\myreactapp\src\components\toDo-img.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    margin: 0 auto; 
    max-width: 900px; 
    border: 5px solid hsl(177, 100%, 50%);
}

.table {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
}


.users-list {
    overflow-x: auto;
}

.filter-container{
    width:98%
}

.table th,
.table td {
    padding: 10px 20px; 
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.table-striped tbody tr {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #f0f0f0;
}

.table td + td {
    border-left: 2px solid #ddd; 
}
.table th:nth-child(1),
.table td:nth-child(1) {
    padding-right: 40px; 
}

.table th:nth-child(3),
.table td:nth-child(3) {
    padding-right: 60px; 
}

.table th:nth-child(4),
.table td:nth-child(4) {
    padding-right: 70px; 
}

.table th:nth-child(5),
.table td:nth-child(5) {
    padding-right: 70px; 
}


.sort-header {
    display: flex;
    align-items: center;
}

.sort-button {
    background: none;
    border: black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    padding: 0;
}


.actions-column {
    width: 40% !important; 
}
.filter-container {
    display: flex;
    align-items: center;
}

.filter-dropdown {
    margin-right: 10px; 
}


.icon-button:hover{
    background-color: #f9f9f9;
}